<div>
    <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="active" href="#/home">Home</a>
                                <!--<ul class="dropdown">
                                    <li><a href="index.html">Home Main Version</a>
                                    </li>
                                    <li><a class="active" href="index-01.html">Home Version 1</a>
                                    </li>
                                    <li><a href="index-02.html">Home Version 2</a>
                                    </li>
                                    <li><a href="index-03.html">Home Version 3</a>
                                    </li>
                                    <li><a href="index-04.html">Home Version 4</a>
                                    </li>
                                    <li><a href="index-05.html">Home Version 5</a>
                                    </li>
                                    <li><a href="index-06.html">Home Version 6</a>
                                    </li>
                                    <li><a href="index-07.html">Home Version 7</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li>
                                <a class="active" href="about.html">About Us</a>
                                <!--<ul class="dropdown">
                                    <li><a href="about.html">About</a>
                                    </li>
                                    <li><a href="services.html">Services</a>
                                    </li>
                                    <li><a href="right-sidebar.html">Right Sidebar</a>
                                    </li>
                                    <li><a href="left-sidebar.html">Left Sidebar</a>
                                    </li>
                                    <li><a href="404.html">404 Page</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li>
                                <a href="#">Voters</a>
                                <ul class="dropdown">
                                    <li><a href="tabs.html">Register</a>
                                    </li>
                                    <li><a href="buttons.html">Login</a>
                                    </li>
                                    <!--<li><a href="action-box.html">Action Box</a>
                                    </li>
                                    <li><a href="testimonials.html">Testimonials</a>
                                    </li>
                                    <li><a href="latest-posts.html">Latest Posts</a>
                                    </li>
                                    <li><a href="latest-projects.html">Latest Projects</a>
                                    </li>
                                    <li><a href="pricing.html">Pricing Tables</a>
                                    </li>
                                    <li><a href="animated-graphs.html">Animated Graphs</a>
                                    </li>
                                    <li><a href="accordion-toggles.html">Accordion & Toggles</a>
                                    </li>-->
                                </ul>
                            </li>
                            <li>
                                <a href="portfolio-3.html">F.A.Q.</a>
                                <!--<ul class="dropdown">
                                    <li><a href="portfolio-2.html">2 Columns</a>
                                    </li>
                                    <li><a href="portfolio-3.html">3 Columns</a>
                                    </li>
                                    <li><a href="portfolio-4.html">4 Columns</a>
                                    </li>
                                    <li><a href="single-project.html">Single Project</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li>
                                <a href="#/contact">Contact</a>
                                <!--<ul class="dropdown">
                                    <li><a href="blog.html">Blog - right Sidebar</a>
                                    </li>
                                    <li><a href="blog-left-sidebar.html">Blog - Left Sidebar</a>
                                    </li>
                                    <li><a href="single-post.html">Blog Single Post</a>
                                    </li>
                                </ul>-->
                            </li>
                            <!--<li><a href="contact.html">Contact</a>
                            </li>-->
                        </ul>
</div>